flows_rasPi_070267.json
[
    {
        "id": "814510cc52dcb122",
        "type": "tab",
        "label": "MQTT_Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f22321202fbc8fab",
        "type": "aedes broker",
        "z": "814510cc52dcb122",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "1aab91d167b24531"
            ],
            []
        ]
    },
    {
        "id": "1aab91d167b24531",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "fa5ebefa7e4b839b",
        "type": "mqtt in",
        "z": "814510cc52dcb122",
        "d": true,
        "name": "",
        "topic": "/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8e49eecaba256869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "beea4e53790c4876"
            ]
        ]
    },
    {
        "id": "7bd2653ef83a8c4b",
        "type": "mqtt out",
        "z": "814510cc52dcb122",
        "d": true,
        "name": "",
        "topic": "/test",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e49eecaba256869",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "66aac9cb4d97cc53",
        "type": "inject",
        "z": "814510cc52dcb122",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "7bd2653ef83a8c4b"
            ]
        ]
    },
    {
        "id": "beea4e53790c4876",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "7fa3fc620c52860c",
        "type": "mqtt in",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/LED_BIT_RED",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8e49eecaba256869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "59dec215e01a7e51",
                "3b3850c90971aa24",
                "8ed43b61a60c1e56",
                "c306cda7b21c5e7b",
                "4c012f5c801f2178"
            ]
        ]
    },
    {
        "id": "59dec215e01a7e51",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit1",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    i -= 4;\n}\n\nif (i > 2 - 1) {\n    i -= 2;\n}\n\nif (i == 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "1cf86c232d2514d8",
                "4ad877a269be597c"
            ]
        ]
    },
    {
        "id": "3b3850c90971aa24",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit2",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    i -= 4;\n}\n\nif (i > 2 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "2f688f470fbe2b6f",
                "bc74f3944e03ebd2"
            ]
        ]
    },
    {
        "id": "8ed43b61a60c1e56",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit3",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 520,
        "wires": [
            [
                "7b1db61e834ed3ef",
                "3dba5e158eebdfda"
            ]
        ]
    },
    {
        "id": "c306cda7b21c5e7b",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit4",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "f2b02ca4e89bc988",
                "fae15c80e9072228"
            ]
        ]
    },
    {
        "id": "4c012f5c801f2178",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit5",
        "func": "var i = msg.payload - 1;\n\nif(i > 31-1){\n    msg.payload = 1;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "d34ae262d4040423",
                "8961d03b2ce8ace6"
            ]
        ]
    },
    {
        "id": "1cf86c232d2514d8",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f688f470fbe2b6f",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "7b1db61e834ed3ef",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "f2b02ca4e89bc988",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "d34ae262d4040423",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "4ad877a269be597c",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "5",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc74f3944e03ebd2",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "6",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "3dba5e158eebdfda",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "fae15c80e9072228",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "8961d03b2ce8ace6",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "ab33b0a9bb123cc0",
        "type": "mqtt in",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/LED_BIT_GREEN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8e49eecaba256869",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "bde02cdd4beaa9e3",
                "3c1f067fbebd077d",
                "8fc6bd930966695b",
                "2f7cab8e975f9406",
                "a0519b293c7dede9"
            ]
        ]
    },
    {
        "id": "bde02cdd4beaa9e3",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit1",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    i -= 4;\n}\n\nif (i > 2 - 1) {\n    i -= 2;\n}\n\nif (i == 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 400,
        "wires": [
            [
                "9084798e6ff8bb9f",
                "6fb21818bcd50460"
            ]
        ]
    },
    {
        "id": "3c1f067fbebd077d",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit2",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    i -= 4;\n}\n\nif (i > 2 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 460,
        "wires": [
            [
                "5b4a40f946c7d589",
                "7701a9d77141c732"
            ]
        ]
    },
    {
        "id": "8fc6bd930966695b",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit3",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    i -= 8;\n}\n\nif (i > 7 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 520,
        "wires": [
            [
                "4b232531dd8f964a",
                "e19f42089d0cba5a"
            ]
        ]
    },
    {
        "id": "2f7cab8e975f9406",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit4",
        "func": "var i = msg.payload - 1;\n\nif (i > 31 - 1) {\n    i -= 16;\n}\n\nif (i > 15 - 1) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 580,
        "wires": [
            [
                "481305dd5f10970e",
                "4ae676646cdadf0c"
            ]
        ]
    },
    {
        "id": "a0519b293c7dede9",
        "type": "function",
        "z": "814510cc52dcb122",
        "name": "Bit5",
        "func": "var i = msg.payload - 1;\n\nif(i > 31-1){\n    msg.payload = 1;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 640,
        "wires": [
            [
                "912b7fc54d73c987",
                "dbd553c7299e56ce"
            ]
        ]
    },
    {
        "id": "9084798e6ff8bb9f",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "5b4a40f946c7d589",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "4b232531dd8f964a",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "481305dd5f10970e",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "912b7fc54d73c987",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "debug bit5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "6fb21818bcd50460",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "25",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "7701a9d77141c732",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1160,
        "y": 600,
        "wires": []
    },
    {
        "id": "e19f42089d0cba5a",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1160,
        "y": 640,
        "wires": []
    },
    {
        "id": "4ae676646cdadf0c",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1160,
        "y": 680,
        "wires": []
    },
    {
        "id": "dbd553c7299e56ce",
        "type": "rpi-gpio out",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "7bd78a22ef2ec897",
        "type": "rpi-gpio in",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "18",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 540,
        "y": 780,
        "wires": [
            [
                "a847c67f606d4b6e",
                "785f87170e36fca9"
            ]
        ]
    },
    {
        "id": "a847c67f606d4b6e",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "Emergency",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "785f87170e36fca9",
        "type": "mqtt out",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/Emergency",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e49eecaba256869",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "330c3f921da81d0e",
        "type": "rpi-gpio in",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "23",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 900,
        "y": 780,
        "wires": [
            [
                "b7dcd2439c3f303c",
                "c481b8380fd4ed2e"
            ]
        ]
    },
    {
        "id": "ac6dd1502855325f",
        "type": "rpi-gpio in",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "24",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 900,
        "y": 880,
        "wires": [
            [
                "22f7d227df418b8e",
                "9242b8f244a26118"
            ]
        ]
    },
    {
        "id": "b7dcd2439c3f303c",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "Left",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "22f7d227df418b8e",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "Right",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 860,
        "wires": []
    },
    {
        "id": "c481b8380fd4ed2e",
        "type": "mqtt out",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/Left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e49eecaba256869",
        "x": 1030,
        "y": 800,
        "wires": []
    },
    {
        "id": "9242b8f244a26118",
        "type": "mqtt out",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/Right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e49eecaba256869",
        "x": 1030,
        "y": 900,
        "wires": []
    },
    {
        "id": "9182682e2a6c22b9",
        "type": "rpi-gpio in",
        "z": "814510cc52dcb122",
        "name": "",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "5db6277fab666b43",
                "e297b86ecff0f92c"
            ]
        ]
    },
    {
        "id": "5db6277fab666b43",
        "type": "debug",
        "z": "814510cc52dcb122",
        "name": "Conferm",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 860,
        "wires": []
    },
    {
        "id": "e297b86ecff0f92c",
        "type": "mqtt out",
        "z": "814510cc52dcb122",
        "name": "",
        "topic": "/conOK",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e49eecaba256869",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "8e49eecaba256869",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.206",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]